.form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.col2 {
    width: 100%;
    grid-column: span 2;
}

.col2 textarea {
    width: 100%;
    font-family: poppins;
    background-color: rgb(163, 163, 163);
}

.label {
    font-family: Roboto;
    font-size: 0.9rem;
}

.input {
    border: none;
    border-radius: 5px;
    background-color: rgb(80, 79, 79);
}

.botao {
    width: fit-content;
    border-radius: 5px;
    font-family: roboto;
    padding: 5px 10px;
    background-image: linear-gradient(to right, black, yellow);
}
